---
const { onContactClick } = Astro.props;

const links = [
    { href: "/restaurant/", label: "Inicio" },
    { href: "/restaurant/menu", label: "Menú" },
    { href: "/restaurant/about-us", label: "Sobre nosotros" },
    { href: "#", label: "Contacto", isButton: true },
];
---

<nav class="bg-primary text-white shadow-md fixed top-0 w-full z-50">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            <!-- Logo -->
            <a href="/restaurant/" class="text-2xl font-bold text-white">
                Bar El Caminito
            </a>
            <!-- Navigation Links -->
            <div class="hidden md:flex space-x-6 justify-center">
                {
                    links.map((link) =>
                        link.isButton ? (
                            <button
                                data-contact-btn
                                class="text-white font-bold"
                                onclick={onContactClick}
                            >
                                {link.label}
                            </button>
                        ) : (
                            <a href={link.href} class="text-white font-bold">
                                {link.label}
                            </a>
                        ),
                    )
                }
            </div>

            <!-- Mobile Menu Button -->
            <div class="md:hidden">
                <button
                    id="menu-button"
                    class="text-white focus:outline-none text-3xl"
                    aria-expanded="false"
                >
                    &#9776;
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div
        id="mobile-menu"
        class="hidden md:hidden flex flex-col items-center bg-white"
    >
        {
            links.map((link) =>
                link.isButton ? (
                    <button
                        data-contact-btn
                        class="block px-4 py-2 text-gray-600"
                        onclick={onContactClick}
                    >
                        {link.label}
                    </button>
                ) : (
                    <a href={link.href} class="block px-4 py-2 text-gray-600">
                        {link.label}
                    </a>
                ),
            )
        }
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuButton = document.getElementById("menu-button");
        const mobileMenu = document.getElementById("mobile-menu");

        if (!menuButton || !mobileMenu) {
            console.warn("Menu button or mobile menu not found in the DOM.");
            return;
        }

        menuButton.addEventListener("click", (event) => {
            event.stopPropagation();
            mobileMenu.classList.toggle("hidden");
        });

        document.addEventListener("click", (event) => {
            if (
                !mobileMenu.contains(event.target as Node) &&
                !menuButton.contains(event.target as Node)
            ) {
                mobileMenu.classList.add("hidden");
            }
        });

        mobileMenu.addEventListener("click", (event) => {
            if ((event.target as HTMLElement).tagName === "A") {
                mobileMenu.classList.add("hidden");
            }
        });
    });
</script>
